.footer {
    font-family: Roboto;
    font-size: 1.1rem;

    &__info {
        color: #fff;
        opacity: 0.5;
        text-align: center;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        margin-top: 1.6rem;

        a {
            color: #bdc0d0;
        }
    }
}
